* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 50%;
    padding: 5px;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}

h1{
    color: maroon;
    position: inherit;
    width: fit-content;
    height: fit-content;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-shadow: 4px 2px palevioletred;
    line-height: 43px;
    
}